In [4]:
import pandas as pd 
from pathlib import Path
%matplotlib inline
from bs4 import BeautifulSoup
import requests

In [20]:
Cubs_Games_2019 = pd.read_clipboard()
Cubs_Games_2019.head()

   Game Date / Box Score           Opponent  Score Decision Record
0     1       03-28-2019   at Texas Rangers   12-4        W    1-0
1     2       03-30-2019   at Texas Rangers    6-8        L    1-1
2     3       03-31-2019   at Texas Rangers  10-11        L    1-2
3     4       04-01-2019  at Atlanta Braves    0-8        L    1-3
4     5       04-03-2019  at Atlanta Braves    4-6        L    1-4

In [21]:
Cubs_Games_2019.drop(columns = ['Game','Score', 'Decision', 'Record'], inplace = True)

In [22]:
Cubs_Games_2019.head()

  Date / Box Score           Opponent
0       03-28-2019   at Texas Rangers
1       03-30-2019   at Texas Rangers
2       03-31-2019   at Texas Rangers
3       04-01-2019  at Atlanta Braves
4       04-03-2019  at Atlanta Braves

In [23]:
Cubs_Games_2019.set_index(pd.to_datetime(Cubs_Games_2019['Date / Box Score'], infer_datetime_format=True), inplace=True)

In [24]:
Cubs_Games_2019.head()

                 Date / Box Score           Opponent
Date / Box Score
2019-03-28             03-28-2019   at Texas Rangers
2019-03-30             03-30-2019   at Texas Rangers
2019-03-31             03-31-2019   at Texas Rangers
2019-04-01             04-01-2019  at Atlanta Braves
2019-04-03             04-03-2019  at Atlanta Braves

In [25]:
Cubs_Games_2019.drop(columns = ['Date / Box Score'], inplace = True)

In [26]:
Cubs_Games_2019.head()

                           Opponent
Date / Box Score
2019-03-28         at Texas Rangers
2019-03-30         at Texas Rangers
2019-03-31         at Texas Rangers
2019-04-01        at Atlanta Braves
2019-04-03        at Atlanta Braves

In [38]:
Cubs_Home_Games_2019 = Cubs_Games_2019[Cubs_Games_2019.Opponent.str.contains('vs', regex=False)]

In [39]:
Cubs_Home_Games_2019

                                Opponent
Date / Box Score
2019-04-08         vs Pittsburgh Pirates
2019-04-10         vs Pittsburgh Pirates
2019-04-11         vs Pittsburgh Pirates
2019-04-12         vs Los Angeles Angels
2019-04-13         vs Los Angeles Angels
...                                  ...
2019-09-18            vs Cincinnati Reds
2019-09-19        vs St. Louis Cardinals
2019-09-20        vs St. Louis Cardinals
2019-09-21        vs St. Louis Cardinals
2019-09-22        vs St. Louis Cardinals

[81 rows x 1 columns]